/* Global Styles*/

img{
    max-width: 100%;
}
.imgstyle{
    border: 4px solid black;
    box-shadow: 5px 5px 10px black;
    max-width: 100%;
}

body{
    background-color:white;
}

p{
    font-size: 20px;
}

/* Mobile Styles*/

#menu{
    display: none;
}

#container{
    margin: 10px;
}

header{
    background-color: white;
    padding: 20px;
}

nav{
    text-align: center;

}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav li{
    display: block;
}

nav li a{
    display: block;
    background-color: white;
    color: black;
    font-size: 1cm;
    text-decoration: none;
    margin: 5px 0;
    height: 50px;
    line-height: 50px;
}

nav li a:hover{
    background-color: black;
    color: white;
    text-shadow: none;
}

section, aside{
    padding: 20px;

}

section{
    background-color:white;
    color: black;
}
section h1{
    text-align: center;
}

aside{
    background-color: black;
    color: white;
    margin-top: 10px;
}

aside h2, aside h3{
    text-align: center;
    font-size: 1.3m;
}

aside hr{
    border-color: white;
}

footer{
    background-color: white;
    padding: 44px 0;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 2px black;
}

/* tablet styles*/

@media screen and (min-width: 768px) {
    header img{
        display: block;
        width: 654;
        margin: 30px auto;


    }

    #menu{
        display:block
    }

    .slicknav_menu{
        display: none;
    }

    nav li{
        display: inline-block;

    }

    nav li a{
        width: 350px;
    }

    section img, aside img{
        display: block;
        width: 754;
        margin: 0 auto;
    }
    section h1{
        font-size: 2cm;

    }
    aside h2, aside h3{
        font-size: 1.2cm;
    }

}

/* Desktop styles */

@media screen and (min-width:1024px){
  

    nav{
        background-color: white;

    }
    #menu{
        display:block
    }

    .slicknav_menu{
        display: none;
    }

    nav li a{
        width: 175px;

    }

    nav li :hover{
        border-radius: 10px;
        color: black;
        text-shadow: 1px 1px 1px;
    }
    main{
        display: flex;
    }

    section, aside{
        margin: 50px;
    }

    section{
        width: 70%;
    }
    aside {
        width: 30% ;
    }
    footer{
        border-radius: 0 0 20px 20px;
    }

}

