*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 120vh;
    background-color:white;
    background-size: cover;
    background-position: center;
    position:relative;
    overflow: hidden;
}
.logo{
    width: 90px;
    height:20vh;
    cursor: pointer;
    offset-position: left;
}
.navbar{
    width: 100%;
    height: 7%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #556b2f;
}

.span{
    
    text-align: center;
    font-family:"Courier New", Courier, monospace;
    font-size: xx-large;
    font-style: normal;
    
}

.h1{
    margin: auto;
    align-items: center;
    text-align: center;
}
.box{
    align-items: center;
    text-align: center;
}

