/* Global Styles*/

img{
    max-width: 100%;
}

video {
    max-width: 100%;
    display: block;
    align-items: center;
}



a {
    color: black;
    text-align: center;
    display: block;
    
}

a:hover {
    color: grey;

}

#container{
    width: 95%;
    margin: auto;
    border: 5px solid white;
    background-color: white;
    height: 100%;
    
}
 header{

    background-image: url('../Images/AlyssaLogo.png'); 
    background-size: 100%;
    background-color: white;
 }

 nav{
    background-color: white;
    text-align: center;
    padding: 20px 0 15px 0;

}

nav a{
    background-color: white;
    padding: 5px 25px 20px;
    font-size: 1cm;
    text-decoration: none;
    

}

nav a:hover{
    background-color: black;
    color: white;
}

footer{
    text-align: center;
    display: block;
}

/* Mobile Styles*/


#container{
    width: 95%;
    margin: auto;
    border: 5px solid white;
    background-color: white;
    height: 100%;

}


header{
    height: 300px; 
    background-color: white;
    background-size: 100%;
    
    
}

nav{
    text-align: center;

}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav li{
    display: block;
}

nav li a{
    display: block;
    background-color: white;
    color: black;
    font-size: .5cm;
    text-decoration: none;
    margin: 5px 0;
    height: 10px;
    line-height: 10px;
}

nav li a:hover{
    background-color: black;
    color: white;
    text-shadow: none;
}

/* tablet styles*/

@media screen and (min-width: 768px) {
    header img{
        display: block;
        width: 654;
        margin: 30px auto;


    }
    header{
        height: 400px; 
        background-color: white;
        background-size: 100%;
    }
        
    nav li{
        display: inline-block;

    }

    nav li a{
        width: 350px;
    }

    section img, aside img{
        display: block;
        width: 754;
        margin: 0 auto;
    }
    section h1{
        font-size: 2cm;

    }
    aside h2, aside h3{
        font-size: 1.2cm;
    }

}

/* Desktop styles */

@media screen and (min-width:1024px){
  
    header{
        height: 900px; 
        background-color: white;
        background-size: 100%;
        

    }
    nav{
        background-color: black;

    }

    nav li a{
        width: 175px;

    }

    nav li :hover{
        border-radius: 10px;
        color: black;
        text-shadow: 1px 1px 1px;
    }
    main{
        display: flex;
    }

    section, aside{
        margin: 50px;
    }

    section{
        width: 70%;
    }
    aside {
        width: 30% ;
    }
    footer{
        border-radius: 0 0 20px 20px;
    }

}






 